
.app{
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
  display: block;
  border: solid rgb(242, 133, 229) 2px;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  padding: 20px;
  margin: auto;
}

.header{
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
  color:rgb(242, 133, 229)

}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me{
  display:flex;
  justify-content: center;
  height: 25vh;
  width: 25vh;
}